header {
    color: red;
    text-align: center;
    font-family: comic-sans;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
}

body {
    background-color: green;
    margin : 0;
    padding: 0;
}

button {
    width: 100%;
    max-width: 150px;
    color: darkgray;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, transform 0.2s ease;
    background: #007bff;


}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 16px 18px rgba(0, 0, 0, 0.15);
}

button:active {
    background-color: #004085;
    transform: scale(0.95);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Blue outline for focus */

}

#topBar{
    width: 100%;
    text-align: center;
    background-color: orangered;
    border-style: solid;
    border-color: black;

}

#eloScore {
    text-align: center;
    font-family: comic-sans;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

#data {
    text-align: left;
    font-family: comic-sans;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    border-style: solid;
    max-width: 30vw;
    background-color: #ffa100;
    border-radius: 5px;
}

#guts{
    width: 100%;
}

#gameTable{
    width: 100%;
    text-align: center;
}

#gameSelect{
    width: 100%;
    text-align: center;
}

#enterGame {
    color: white;
    font-family: comic-sans;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;


}

