header {
    color: red;
    text-align: center;
    font-family: comic-sans;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

body {
    background-color: green;
}

button {
    color: red;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

#topBar{
    width: 100%;
    text-align: center;
    background-color: red;
}

#eloScore {
    text-align: center;
    font-family: comic-sans;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

#data {
    text-align: left;
    font-family: comic-sans;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    border-style: solid;
    max-width: 30vw;
    background-color: #ffa100;
    border-radius: 5px;
}

#guts{
    width: 100%;
}

